main {
  margin: 40px auto;
}
h1 {
  text-align: center;
}
.checkout,
.form-wrapper > * {
  display: flex;
  flex-direction: column;
}

.checkout {
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.checkout > * {
  width: 300px;
}

.registrer {
  text-align: center;
  height: 574px;
  background-color: white;
  border: solid 2px var(--color-header__footer);
  padding: 0px 15px;
}
.registrer h2 {
  text-decoration: underline;
}
.form-wrapper > * {
  font-weight: bold;
  text-align: left;
}
.form-wrapper input {
  border-radius: 3px;
  padding: 8px;
  box-shadow: 0px 3px 2px 1px rgba(34, 34, 34, 0.39);
  border: 1px solid var(--tertiary-color);
  font-family: var(--font-paragraph);
  margin-top: 5px;
}

.form-wrapper label {
  margin-top: 10px;
}
.form-wrapper .cta {
  padding: 5px 20px;
  margin-top: 50px;
}
.form__checkout {
  position: absolute;
  top: -410px;
  left: 21px;
}

.form-error {
  color: #ab051e;
  font-family: var(--font-paragraph);
  font-size: 0.8em;
  text-decoration: underline;
  margin-top: 10px;
  display: none;
  max-height: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
}
