main {
  margin: 40px auto;
}
h1 {
  text-align: center;
}
.checkout,
.form-wrapper > * {
  display: flex;
}
.checkout,
.form-wrapper > * {
  flex-direction: column;
}
.checkout > * {
  flex: 1;
}

.registrer {
  text-align: center;
  position: relative;
}
.registrer h2 {
  text-decoration: underline;
}
.form-wrapper > * {
  font-weight: bold;
  text-align: left;
}
.form-wrapper input {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: solid 2px var(--color-header__footer);
}
.form-wrapper .cta {
  padding: 5px 20px;
}
.form__checkout {
  position: absolute;
  top: -72%;
  left: 18px;
}
.remove {
  margin-top: 80px;
}
