main {
  margin: 20px;
}
.collection {
  max-width: 1400px;
  margin: auto;
}
.collection__intro {
  max-width: 500px;
  margin: 20px auto;
}
.collection__intro p {
  margin-top: 5px;
}
.collection h1 {
  text-decoration: underline;
}

.featured__products {
  max-width: 292.55px;
}
.featured__products h2 {
  font-size: 1.2em;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.products img {
  height: 414px;
}
.products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
