h1,
h2 {
  text-align: center;
  text-decoration: underline;
}
h1 {
  font-size: 2.2em;
  margin-top: 20px 0px 0px 50px;
}
h2 {
  margin-bottom: 12px;
}
.contact {
  margin: auto;
}

.message,
.contact-info {
  max-width: 350px;
  margin: 20px auto;
}
form,
.contact-info {
  color: var(--color-header__footer);
  font-weight: bold;
}
form,
.contact-info__content {
  display: flex;
}
form {
  flex-direction: column;
}
textarea,
#email,
.contact-info__content {
  border: solid 2px var(--color-header__footer);
}
textarea,
#email {
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0px;
}
textarea {
  min-height: 75px;
}
.contact-info h3 {
  text-decoration: underline;
  text-transform: capitalize;
  font-family: var(--font-heading), Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4em;
  margin-bottom: 10px;
}
.contact-info__content {
  background-color: #fff;
  padding-left: 20px;
  border-radius: 5px;
}
.contact-info__content i {
  font-size: 1.4em;
  margin: 9px 8px 0px 0px;
}

.form-error {
  margin-top: 0px;
}

.cart {
  display: none;
}

.cart {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
  height: 200px;
  text-align: center;
  align-content: center;
  padding: 0px 40px;
}

.cart h2 {
  margin-top: 45px;
}
