@media (min-width: 400px) {
  .featured p,
  .collection p {
    font-size: 1.2em;
  }
}
@media (min-width: 800px) {
  p {
    font-size: 1.2em;
  }

  .cta {
    font-size: 1.2em;
    padding: 5px 20px;
    min-width: 135px;
    text-align: center;
  }
  .intro {
    background-image: url(../../images/free-shipping-big.jpg);
    background-position-y: center;
    min-height: 60vh;
  }

  .intro__content {
    top: 18vh;
  }
  .intro h2 {
    font-size: 1.5em;
  }
  .home-featured {
    display: flex;
    max-width: 1400px;
    margin: 30px auto;
  }
  .featured,
  .waterproof {
    flex: 1;
  }
  .featured h2,
  .waterproof h2 {
    margin-top: 0px;
  }
  .waterproof > * {
    margin: 6px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-specific {
    flex-direction: row;
    gap: 50px;
    height: 450px;
    padding: 40px 30px 30px 30px;
  }
  .product-specific h1 {
    margin-top: -5px;
  }
  .product-specific ul {
    font-size: 1.1em;
  }
  .shoppingcart-content__product h2,
  .shoppingcart-content__product p {
    font-size: 1.1em;
  }
  select {
    padding: 5px;
  }
  .cart {
    top: 30%;
  }
  .checkout {
    flex-direction: row;
    gap: 50px;
  }

  .registrer {
    height: 574px;
    margin: auto;
    background-color: white;
    border: solid 2px var(--color-header__footer);
    padding: 0px 15px;
  }
  .form__checkout {
    left: -110%;
    top: 24.5%;
  }
  .about {
    background-position: center;
  }
  .contact {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
  }
  .contact > * {
    flex: 1;
  }
  .contact-info h3 {
    font-size: 1.5em;
    margin-top: 20px;
  }

  .contact-info__content i {
    margin-top: 23px;
  }
  .h1 {
    font-size: 1em;
  }
}
@media (min-width: 1200px) {
  header {
    position: static;
  }
  header label {
    display: none;
  }
  .header-top i {
    font-size: 1.8em;
    margin: 4px 10px 0px 0px;
  }
  .logo-header {
    top: 10px;
  }

  nav {
    display: block;
    position: static;
    border-bottom: none;
    margin-top: 5px;
  }
  nav a {
    display: inline;
    font-size: 1.3em;
    padding: 15px;
    border-top: none;
  }
  .search {
    display: block;
    position: absolute;
    right: 20px;
    top: 62px;
    padding: 0px;
  }
  .social-media {
    justify-content: left;
    margin-left: 20px;
  }
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .form__checkout {
    top: 9em;
    left: -27.2em;
  }
  #date {
    min-width: 230.95px;
  }
}
