.product-specific,
.product-image_thumbnails {
  display: flex;
}
.product-specific {
  max-width: 1000px;
  flex-direction: column;
  margin: 40px auto;
  padding: 20px 20px 45px 20px;
}
.product-specific > * {
  flex: 1;
}
.product-image_thumbnails {
  flex-direction: row;
  gap: 10px;
  margin-top: 5px;
}
.product-specific h1 {
  margin-bottom: 0px;
}
.price,
.product-specific ul {
  font-weight: bold;
}
.product-specific p {
  margin: 8px 0px;
}
.price,
select {
  text-transform: uppercase;
}
ul {
  text-transform: capitalize;
  padding-left: 0px;
  list-style: none;
  margin: 15px 0px;
}
li:before,
select {
  color: var(--color-header__footer);
}
li:before {
  content: "\2022";
  margin-right: 7px;
}
#add-to-cart,
.cart {
  display: none;
}
#add-to-cart:checked ~ .cart {
  display: block;
}
.cart {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
  height: 200px;
  text-align: center;
  padding: 0px 40px;
}
.cart h2 {
  margin: 45px auto;
}
.cart a {
  margin: 0px 20px;
}
.product-specific__details {
  position: relative;
}
.cta-cart {
  position: relative;
  bottom: -25px;
}
