main {
  margin: 40px auto;
}

.checkout {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.checkout > * {
  flex: 1;
}
.purchase-message {
  border-bottom: 1px solid var(--tertiary-color);
  margin-bottom: 3px;
}

.shoppingcart-content__product h2,
.shoppingcart-content__product p {
  margin-bottom: 4px;
  text-decoration: underline;
}
.shipment-info p {
  margin: 8px 0px;
}

.shoppingcart-content {
  padding: 0px 17px;
}
.shoppingcart-content__product {
  padding: 10px;
}
