@import "imports/variables.css";

@font-face {
  font-family: "nirmala";
  src: url(../fonts/nirmala.ttf) format("truetype");
}
@font-face {
  font-family: "arial-rounded";
  src: url(../fonts/Arial_Rounded_MT.ttf) format("truetype");
}

body {
  font-family: var(--font-paragraph), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e6ebf3;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
h1,
h2 {
  font-family: var(--font-heading), Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6em;
  text-transform: capitalize;
}
.logo {
  font-family: bebas Neue, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5em;
}
header,
footer,
i,
a,
.search-button,
.cta {
  color: #fff;
}
h1,
h2,
.social-media i,
.blue-i,
.search-button:hover {
  color: var(--color-header__footer);
}
header,
footer,
nav,
.search-button {
  background-color: var(--color-header__footer);
}
.header-bottom,
.search,
.search-button:hover,
.cta:hover {
  background-color: #fff;
}

img {
  width: 100%;
}
footer {
  text-align: center;
  padding: 20px 0px;
  font-size: 1.2em;
  max-height: 66px;
}
/*header*/
header {
  position: sticky;
  top: 0px;
  z-index: 999;
}
.header-top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px 10px;
}

.header-bottom {
  width: 100%;
  border-bottom: solid 2px var(--color-header__footer);
  padding: 3px 0px;
}
.header-top i,
.search-bar i {
  font-size: 1.5em;
}
.logo-header {
  font-size: 2em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
}
nav {
  display: none;
  position: fixed;
  left: 0px;
  top: 45px;
}
nav a {
  display: block;
  font-size: 1.2em;
  padding: 30px 25px;
  border-top: white solid 2px;
}
nav,
nav a {
  animation: show-nav 0.5s forwards;
  transition-property: all;
  left: -100px;
}
@keyframes show-nav {
  100% {
    left: 0px;
  }
}
#hamburger-menu,
#search-icon {
  display: none;
}
#hamburger-menu:checked ~ nav,
#search-icon:checked ~ .search {
  display: block;
}
.search,
.search-icon {
  position: fixed;
}
.search-icon {
  top: 10px;
  right: 55px;
}
.search {
  display: none;
  right: 5px;
  top: 50px;
  padding: 5px 5px;
}

.search-box {
  border: solid 2px var(--color-header__footer);
  padding: 4px 0px;
}
.search-button {
  font-family: nirmala, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  padding-bottom: 4px;
  border: solid 1px var(--color-header__footer);
  transition: all ease-in 0.4s;
}
.social-media {
  display: flex;
  gap: 15px;
  padding: 5px;
  justify-content: center;
}

.social-media h2 {
  margin: auto 0px;
  font-size: 1.5em;
  margin-right: 15px;
}
/*links*/

.current {
  text-decoration: underline;
}
a {
  text-decoration: none;
}
.cta {
  border: solid #148387 1px;
  background-color: #148387;
  min-width: 84px;
  text-align: center;
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all ease-in 0.4s;
}
.cta:hover {
  color: #148387;
  padding: 5px 9px;
}
.cta-form {
  box-sizing: content-box;
  max-width: 200.65px;
  padding: 5px 20px;
  margin: 10px auto;
}
/*styles for main content*/
.featured,
.waterproof {
  max-width: 330px;
  margin: 30px auto;
  text-align: center;
}
.featured h2,
.featured p {
  margin: 0;
  color: black;
}
.featured h2 {
  margin-bottom: 5px;
}
.featured p {
  text-align: left;
}
.form {
  display: flex;
  gap: 5em;
}
form p {
  margin: 10px 0px;
  font-size: 1.1em;
}
form p,
select,
.bold-text {
  font-weight: bold;
  color: var(--color-header__footer);
}
.featured p,
.bold-text,
select {
  text-transform: uppercase;
}
select {
  border: 1px solid var(--color-header__footer);
  background-color: #fafafa;
  padding: 3px 5px;
  font-family: var(--font-paragraph);
  font-size: 1em;
  border-radius: 5px;
}
.content-square {
  background-color: #fff;
  border: solid 2px var(--color-header__footer);
}
.shoppingcart-content {
  max-width: 400px;
  padding: 17px 17px 0px 17px;
}
.shoppingcart-content__product,
.remove,
.cost-info {
  display: flex;
}
.shoppingcart-content__product {
  gap: 10px;
}
.shoppingcart-content__product > * {
  flex: 1;
}
.shoppingcart-content__product h2 {
  margin-bottom: 0px;
  color: black;
}
.shoppingcart-content__product h2,
.shoppingcart-content__product p {
  text-transform: uppercase;
  font-size: 1.1em;
  margin-top: 0px;
}
.shoppingcart-content__product h2,
.shoppingcart-content__product p,
.shipment-info p,
.remove {
  font-weight: bold;
}
.remove {
  color: var(--color-header__footer);
  gap: 30px;
  margin-top: 15px;
  text-transform: capitalize;
}
.remove i {
  font-size: 1.6em;
  margin-top: 17px;
}
.shipment-info p {
  margin-top: 0px;
  text-decoration: underline;
}
.cost {
  margin-bottom: 20px;
  border: solid 2px var(--color-header__footer);
  padding: 0px 15px 30px 15px;
  background-color: rgb(248, 247, 247);
}
.cost-info {
  justify-content: space-between;
  height: 40px;
  padding-bottom: 3px;
  border-bottom: solid 1px black;
}
.h1 {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.h1 i {
  margin-top: 15px;
  color: var(--color-header__footer);
}
