@import "imports/variables.css";
@import "imports/typography.css";
@import "imports/links.css";

body {
  margin: 0;
}
main {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0px 15px;
}

header,
footer {
  color: #fff;
}

.header-top,
footer {
  background-color: var(--color-header__footer);
}

img {
  width: 100%;
}
footer {
  text-align: center;
  padding: 20px 0px;
  font-size: 1.2em;
  max-height: 66px;
}
/*header*/
header {
  position: sticky;
  top: 0px;
  z-index: 999;
}
.header-top {
  padding: 10px 10px;
}
.header-top_container,
.header-bottom {
  max-width: 1400px;
  text-align: center;
  margin: auto;
}

header i {
  font-size: 1.6em;
}
nav {
  display: none;
  position: fixed;
  left: 0px;
  top: 59px;
  background-color: var(--color-header__footer);
  min-width: 250px;
}
nav a {
  display: block;
  font-size: 1.2em;
  padding: 30px 25px;
  border-top: white solid 2px;
}
nav,
nav a {
  animation: show-nav 0.5s forwards;
  transition-property: all;
  left: -100px;
}
@keyframes show-nav {
  100% {
    left: 0px;
  }
}
#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: block;
}
.hamburger-btn {
  position: absolute;
  top: 0.6em;
  left: 2%;
}

.shopping-cart {
  color: var(--secondary-color);
  position: absolute;
  right: 2%;
  top: 1em;
}

.social-media {
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-header__footer);
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary-color);
  gap: 15px;
  padding: 5px;
}

.social-media h2 {
  margin: auto 0px;
  font-size: 1.2em;
  font-weight: lighter;
}
.social-media i {
  color: var(--color-header__footer);
  margin-top: 3px;
}
/* product container  */
.product-container {
  max-width: 250px;
  box-shadow: 0px 3px 5px 2px rgba(34, 34, 34, 0.775);
  padding: 10px;
}
.product-container > * {
  color: var(--tertiary-color);
}

.product-container_text {
  display: flex;
  justify-content: space-between;
  color: var(--tertiary-color);
}
.product-container_text > * {
  margin: 12px 0px;
  font-weight: bold;
  font-size: 0.85em;
  color: var(--tertiary-color);
}
.form {
  display: flex;
  gap: 5em;
}
form p {
  margin: 10px 0px;
  font-size: 1.1em;
}
form p,
select,
.bold-text {
  font-weight: bold;
}
.bold-text,
select {
  text-transform: uppercase;
}
select {
  border: 1px solid var(--color-header__footer);
  background-color: #fafafa;
  padding: 3px 5px;
  font-family: var(--font-paragraph);
  font-size: 1em;
  border-radius: 5px;
}
.content-square {
  background-color: #fff;
  border: solid 2px var(--color-header__footer);
}
.shoppingcart-content {
  max-width: 400px;
  padding: 17px 17px 0px 17px;
}
.shoppingcart-content__product,
.remove,
.cost-info {
  display: flex;
}
.shoppingcart-content__product {
  gap: 10px;
}
.shoppingcart-content__product > * {
  flex: 1;
}
.shoppingcart-content__product h2 {
  margin-bottom: 0px;
  color: black;
}
.shoppingcart-content__product h2,
.shoppingcart-content__product p {
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: 0px;
}
.shoppingcart-content__product h2,
.shoppingcart-content__product p,
.shipment-info p,
.remove {
  font-weight: bold;
}
.remove {
  color: var(--color-header__footer);
  gap: 30px;
  margin-top: 15px;
  text-transform: capitalize;
}
.remove i {
  font-size: 1.6em;
  margin-top: 17px;
}
.shipment-info p {
  margin-top: 0px;
  text-decoration: underline;
}
.cost {
  margin-bottom: 20px;
  border: solid 2px var(--color-header__footer);
  padding: 0px 15px 30px 15px;
  background-color: rgb(248, 247, 247);
}
.cost-info {
  justify-content: space-between;
  height: 40px;
  padding-bottom: 3px;
  border-bottom: solid 1px black;
}
.h1 {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.h1 i {
  margin-top: 15px;
  color: var(--color-header__footer);
}
