.logo {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}
p,
li,
label {
  font-family: var(--font-paragraph), Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75em;
}

h1,
h2,
nav a,
.cta {
  font-family: var(--font-heading), Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  text-transform: capitalize;
}

h1,
h2 {
  color: var(--color-header__footer);
}
